<app-loader *ngIf="isLoading"></app-loader>


<div *ngIf="!isLoading">
  <div class="flex justify-center m-5">
    <p class="text-3xl font-bold text-gray-800">{{ 'PROJECTS.TITLE' | translate }}</p>
  </div>

  <div>
    <div>
      <mat-tab-group>


        <mat-tab [label]="'PROJECTS.TAB_ODOO' | translate">
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-6 m-5">
            <mat-card *ngFor="let project of python" class="project-card">
              <mat-card-header>
                <div>
                  <mat-card-title>{{ project.name }}</mat-card-title>
                  <mat-card-subtitle>
                    <mat-chip>{{ project.language }}</mat-chip>
                  </mat-card-subtitle>
                </div>
              </mat-card-header>

              <!-- Imagen del repositorio -->
              <img mat-card-image
                [src]="project.image ? project.image : 'https://www.svgrepo.com/show/448449/git-repo.svg'"
                alt="Imagen del proyecto">

              <mat-card-content>
                <p>
                  <span>{{ project.description }}</span>
                </p>
              </mat-card-content>

              <mat-card-actions>
                <a href="{{ project.homepage }}" target="_blank">
                  <mat-icon class="mr-2">launch</mat-icon> {{ 'PROJECTS.GO_TO' | translate }}
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
        </mat-tab>

        <mat-tab [label]="'PROJECTS.TAB_MOBILE' | translate">
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-6 m-5">
            <mat-card *ngFor="let project of typescript" class="project-card">
              <mat-card-header>
                <div>
                  <mat-card-title>{{ project.name }}</mat-card-title>
                  <mat-card-subtitle>
                    <mat-chip>{{ project.language }}</mat-chip>
                  </mat-card-subtitle>
                </div>
              </mat-card-header>

              <!-- Imagen del repositorio -->
              <img mat-card-image
                [src]="project.image ? project.image : 'https://www.svgrepo.com/show/448449/git-repo.svg'"
                alt="Imagen del proyecto">

              <mat-card-content>
                <p>
                  <span>{{ project.description }}</span>
                </p>
              </mat-card-content>

              <mat-card-actions>
                <a href="{{ project.homepage }}" target="_blank">
                  <mat-icon class="mr-2">launch</mat-icon> Go to
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
        </mat-tab>

        <mat-tab [label]="'PROJECTS.TAB_BACKEND' | translate">
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-6 m-5 ">
            <mat-card *ngFor="let project of sharp" class="project-card">
              <mat-card-header>
                <div>
                  <mat-card-title>{{ project.name }}</mat-card-title>
                  <mat-card-subtitle>
                    <mat-chip>{{ project.language }}</mat-chip>
                  </mat-card-subtitle>
                </div>
              </mat-card-header>

              <!-- Imagen del repositorio -->
              <img mat-card-image
                [src]="project.image ? project.image : 'https://www.svgrepo.com/show/448449/git-repo.svg'"
                alt="Imagen del proyecto">

              <mat-card-content>
                <p>
                  <span>{{ project.description }}</span>
                </p>
              </mat-card-content>

              <mat-card-actions>
                <a href="{{ project.homepage }}" target="_blank">
                  <mat-icon class="mr-2">launch</mat-icon> Go to
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
        </mat-tab>

        <mat-tab [label]="'PROJECTS.TAB_SCRIPTS' | translate">
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-6 m-5 ">
            <mat-card *ngFor="let project of shell" class="project-card">
              <mat-card-header>
                <div>
                  <mat-card-title>{{ project.name }}</mat-card-title>
                  <mat-card-subtitle>
                    <mat-chip>{{ project.language }}</mat-chip>
                  </mat-card-subtitle>
                </div>
              </mat-card-header>

              <!-- Imagen del repositorio -->
              <img mat-card-image
                [src]="project.image ? project.image : 'https://www.svgrepo.com/show/448449/git-repo.svg'"
                alt="Imagen del proyecto">

              <mat-card-content>
                <p>
                  <span>{{ project.description }}</span>
                </p>
              </mat-card-content>

              <mat-card-actions>
                <a href="{{ project.homepage }}" target="_blank">
                  <mat-icon class="mr-2">launch</mat-icon> Go to
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
        </mat-tab>

        <mat-tab [label]="'PROJECTS.TAB_SIMPLE' | translate">
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-6 m-5 ">
            <mat-card *ngFor="let project of html" class="project-card">
              <mat-card-header>
                <div>
                  <mat-card-title>{{ project.name }}</mat-card-title>
                  <mat-card-subtitle>
                    <mat-chip>{{ project.language }}</mat-chip>
                  </mat-card-subtitle>
                </div>
              </mat-card-header>

              <!-- Imagen del repositorio -->
              <img mat-card-image
                [src]="project.image ? project.image : 'https://www.svgrepo.com/show/448449/git-repo.svg'"
                alt="Imagen del proyecto">

              <mat-card-content>
                <p>
                  <span>{{ project.description }}</span>
                </p>
              </mat-card-content>

              <mat-card-actions>
                <a href="{{ project.homepage }}" target="_blank">
                  <mat-icon class="mr-2">launch</mat-icon> Go to
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
        </mat-tab>





      </mat-tab-group>
    </div>
  </div>

</div>