<div class="flex justify-center">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{user?.name}}</mat-card-title>
      <mat-card-subtitle>{{user?.login}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="text-base font-semibold ">
        {{user?.bio}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <mat-icon aria-hidden="false" aria-label="like" fontIcon="like">
        
      </mat-icon>
      <mat-icon aria-hidden="false" aria-label="Favorite" fontIcon="favorite">
      
      </mat-icon>

    </mat-card-actions>
  </mat-card>
  
      
</div>