<div class="flex justify-center">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{user?.name}}</mat-card-title>
      <mat-card-subtitle>{{user?.login}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div  class="flex justify-center">
        <p class="text-base font-semibold ">
          {{user?.bio}}
        </p>
      </div>
    </mat-card-content>

    <div class="flex justify-center">
      <a href="https://drive.google.com/file/d/1Rrv04XBciYTjS3BqNi6ehNLOxQrTRIzw/view?usp=sharing" mat-flat-button color="primary">Descargar Curriculo</a>
    </div>
  </mat-card>
  
  
      
</div>