<app-loader *ngIf="isLoading"></app-loader>

<div *ngIf="!isLoading" class="wrapper">
  <app-navbar></app-navbar>
  <app-presentation></app-presentation>
  <app-proyects></app-proyects>
  <app-footer></app-footer>

  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
  <div><span class="dot"></span></div>
</div>
